python-telegram-bot==12.7
requests
wget
telepot
tornado>=6.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability